@inject IJSRuntime JSRuntime

<div class="mb-3">
	<label class="form-label"></label>
	<textarea class="form-control" rows="@Rows" @bind="Text" readonly></textarea>
</div>

@if(!string.IsNullOrEmpty(Text))
{
	<button class="btn btn-secondary" onclick="CopyToClipboard">Copy to Clipboard</button>
}
<h3>Textoutput</h3>

@code {
    [Parameter] public string Label { get; set; } = "Output Text";
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public int Rows { get; set; } = 10;

    private async Task CopyToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Text);
    }
}
